body {
  background: #222;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

input, button {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  cursor: pointer;
  background: gold;
  font-weight: bold;
}

button:hover {
  background: orange;
}
